.employeeAndComputerList {
    display: flex;
    border: 1px solid rebeccapurple;
    border-radius: 6px 6px 0 0;
    width: 800px;
    /* justify-content: center; */
}

#employeeList, #computerList, #departmentList {
    margin: 20px;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;
    background-color: aliceblue;
}

.computerAssignment {
    margin: 10px 0 10px 0;
}

.assignedComputers {
    border: 1px solid gray;
    border-radius: 0 0 6px 6px;
    background-color: blanchedalmond;
    width: 800px;
}

#employeeComputers {
    list-style-type: none;
}

.employee {
    padding: 20px;
}